<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">            
                <resource id="Speroteck_Health::Speroteck" title="Speroteck Menu" sortOrder="10">
                    <resource
                            id="Speroteck_Health::metrics"
                            title="Speroteck Metrics"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>